body {
	padding-top: 5rem;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 3rem);
}

strong,
b,
th,
.semi-bold {
	font-weight: 500 !important;
}

hr {
	border-top: 1px solid rgb(224, 223, 223) !important;
	opacity: 1 !important;
}

label.required::after {
	content: ' * ';
	color: hsl(2, 82%, 46%);
}

.card-title {
	font-weight: 600;
}
