body {
	padding-top: 70px;
}

.card-responsive {
	width: 50%;
}

.card-title {
	text-align: center;
}

.center {
	display: flex;
	justify-content: center;
	justify-items: center;
	align-items: center;
	min-height: calc(100vh - 3rem);
}

.card-footer-links {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
	justify-items: center;
}

@media (max-width: 767px) {
	.card-responsive {
		width: 75% !important;
	}
}

@media (max-width: 280px) {
	.card-responsive {
		width: 100% !important;
	}
}

@media (max-width: 447px) {
	.card-footer-links {
		justify-content: center;
		align-items: center;
		text-align: center;
	}
}

@media (max-width: 300px) {
	.card-footer-links .separate {
		display: none;
	}
}

@media (min-width: 1200px) {
	.card-responsive {
		width: 40%;
	}
}

strong,
b,
th,
.semi-bold {
	font-weight: 500 !important;
}

hr {
	border-top: 1px solid rgb(224, 223, 223) !important;
	opacity: 1 !important;
}

label.required::after {
	content: ' * ';
	color: hsl(2, 82%, 46%);
}

.card-title {
	font-weight: 600;
}
